# http://editorconfig.org
root = true

[*]
# 4 width tabs consistent with odin projects in general and odinfmt
indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.odin]
max_line_length = 120
